SortIncludes: Never
ReflowComments: Never
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

BreakAfterReturnType: None
PointerAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
AlignConsecutiveMacros: Consecutive
BreakStringLiterals: false
