*~
_*
*.o
*.d
*.asm
*.sym
*.img
/mkfs/mkfs
/kernel/kernel
/user/usys.S
.gdbinit
TAGS

# Local reader build/cache artifacts
/node_modules/
/dist/
/.astro/
/data/book/source/
/data/book/source.tmp/
/data/book/tools/
